# Python
__pycache__/
*.py[cod]

# Database
*.sqlite3

# Media
backend/media/

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env
backend/.env

# VS Code
.vscode/

# React
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db