# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env
backend/.env

# VS Code
.vscode/

# React
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db